@{
    ViewData["Title"] = "Contact Page";
}

@model AjaxPostContacts.Models.ContactModel

<div class="row">
    <div class="col-md-8 col-lg-offset-4">
        <h2>Add Contact</h2>
        <br />
        <span>Name: </span> @Html.TextBoxFor(x => x.Name, new{@class = "form-control"})<br />
        <span>Date: </span> @Html.TextBoxFor(x => x.RecordDate, new{@class = "form-control", @type = "date"})<br />
        <span>Age: </span> @Html.TextBoxFor(x => x.Age, new{@class = "form-control"})<br />
        <span>City: </span> @Html.DropDownListFor(x => x.City, new SelectList(Enum.GetValues(typeof(Cities))), "Select City")<br />
        <button class="btn btn-default" onclick='SaveContact()'>Save</button> <br /> <br />

    </div>
</div>

<div class="row">
    <div class="col-md-8 col-lg-offset-3">
        <h2>New Contact List</h2><br />
        <table id="myTable" class="table-striped">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Age</th>
                <th>City</th>
            </tr>
        </table>
    </div>
</div>

<style>
    #myTable tr th{
        color: white;
        width: 300px;
        height: 40px;
        text-decoration: solid;
        background-color: green;
        padding: 10px;
    }
</style>

<script type="text/javascript">

    function SaveContact() {
        var Name = $("#Name").val();
        var RecordDate = $("#RecordDate").val();
        var Age = parseInt($("#Age").val());
        var City = $("#City").val();

        $.ajax({
            type: "POST",
            url: "/Contact/AddContact",
            data: {name : Name, recorddate : RecordDate, age : Age, city : City},
            success: function (result) {

                var json = JSON.parse(JSON.stringify(result.data));

                $("#myTable").append("<tr><td>" +
                    json['name'] + "</td><td>" +
                    new Date(json['recordDate']).toDateString() + "</td><td>" +
                    json['age'] + "</td><td>" +
                    json['city'] + "</td></tr>");
                $("#Name").val("");
                $("#RecordDate").val("");
                $("#Age").val("");
                $("#City").val("");
            },
            failure: function (result) {
                alert(result.responseText);
            }
        })
    };

</script>
